.home-swiper{
  background-color: #000;
  width: 100vw;
  height: 320px;
  .home-swiper-slide{
    width: 100vw;
    height: 320px;
    &:hover{
      cursor: pointer;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
